.main{
    display: flex;
    justify-content: space-evenly;
}
.beverages{
    height: 520px;
    width: 300px;
    border: 2px solid black;
    padding:3px;
    margin: 1rem;
}


#flavor{
    font-size:30px;
}
#btn{
    border: 1px solid white;
    background-color: black;
    color: white;
    height:30px;
    width:90px;
    text-align: center;
    margin-left:90px;
    margin-bottom: 15px;
}
#btn:hover{
    border: 2px solid rgba(255,255,255,0.7)
}
#price{
    font-size:20px;
    margin-bottom: 20px;
}

